.ingridient_item_wrapper {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    margin-top: var(--x15);
    width:100%;
    max-width:720px;
    height: 539px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingridient_detailes_heading {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
    position: absolute;
    top: var(--x15);
    left: var(--x10);
    margin-top: 0;
}
.ingridient_detailes_page_heading {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    color: #F2F2F3;
    text-align: center;
}
.ingridient_item_name {
    margin-top: var(--x4);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #F2F2F3;
}
.ingridient_details_info_wrapper {
    font-family: 'JetBrains Mono', sans-serif;
    width:100%;
    max-width:520px;
    margin-top: var(--x8);
    margin-bottom: var(--x15);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #8585AD;
}
.ingridient_details_info_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:112px;
    height:56px;
}
.ingridient_item_img {
    width:100%;
}
.text_type_digits_default {
    font-family: 'Iceland', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #8585AD;
}