.constructorWrapper {
    margin-top: var(--x25);
    margin-left: var(--x10);
}


.constructorIngridientWrapper {
    height: calc(400px + 16px*5);
    overflow-y: scroll;
    margin-bottom: var(--x4);
    margin-left: -28px;
}

.ingridientWrapper {
    margin-top: var(--x4);
}


.constructorElementPosTop,
.constructorElementPosBottom {
    margin-left: 28px;
}

.constructorPriceFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: var(--x10);
    align-items:center;
}
.totalPriceText {
    margin-right: var(--x10);
    align-items: center;
    display:flex;
}

.totalPriceTextP {
    margin-right: 8px;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
    color: #F2F2F3;
}
.constructor-element {
    min-width: 488px;
}
.constructor {
    display: 'flex';
    flex-direction: 'column';
    gap: '10px';
}
